@model VendaModel

<h1 class="mb-3">Registrar uma Venda</h1>

<div class="row">
    <div class="col-md-8 mx-auto">
        <form asp-controller="Venda" asp-action="Registrar">
            @*<input type="hidden" asp-for="Id" value="@try{@ViewBag.Venda.Id} catch{}" />*@ @*Se der erro não faça nada!?*@

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Cliente</label>
                    <select asp-for="Cliente_Id" class="form-control">
                        @{
                            foreach (var item in (List<ClienteModel>)ViewBag.ListaClientes)
                            {
                                <option value="@item.Id">@item.Nome</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Vendedor</label>
                    <select asp-for="Vendedor_Id" class="form-control">
                        @{
                            foreach (var item in (List<VendedorModel>)ViewBag.ListaVendedores)
                            {
                                <option value="@item.Id">@item.Nome</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Produto</label>
                        <select class="form-control" id="selectProdutos">
                            @{
                                foreach (var item in (List<ProdutoModel>)ViewBag.ListaProdutos)
                                {
                                    <option value="@item.Id">@item.Nome | @item.Preco_Unitario</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Quantidade</label>
                        <input type="number" value="1" class="form-control" id="inputQuantidade" />
                    </div>
                </div>
                <div class="col-md-3 pt-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="adicionarProduto() ">Adicionar</button>
                    </div>
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Nome</td>
                        <td>Quantidade</td>
                        <td>Preço Unitário</td>
                        <td>Valor Total</td>
                    </tr>
                </thead>
                <tbody id="ListaProdutos"></tbody>
            </table>

            <h2>Total da compra</h2>
            <h3 id="valorTotalTexto"></h3>

            <textarea asp-for="ListaProdutos" id="arrayListaProdutos" hidden></textarea>
            <input type="hidden" asp-for="TotalCompra" id="valorTotalCompra" />

            <button type="submit" class="btn btn-block btn-success">Cadastrar</button>
        </form>
    </div>
</div>

<script>
    let Itens = new Object();
    Itens.Produtos = new Array();

    const CodigoProduto = document.getElementById("selectProdutos");
    const QuantidadeProduto = document.getElementById("inputQuantidade");
    const valorTotalTexto = document.getElementById('valorTotalTexto');
    const ListaProdutos = document.getElementById("ListaProdutos");
    const arrayListaProdutos = document.getElementById('arrayListaProdutos');
    const valorTotalCompra = document.getElementById('valorTotalCompra');

    function adicionarProduto() {
        const Descricao = CodigoProduto.options[CodigoProduto.selectedIndex].text;
        let arrayDescricao = Descricao.split('|');
        let ValorTotal = parseFloat(arrayDescricao[1]).toFixed(2).replace(",",".") * parseFloat(QuantidadeProduto.value).toFixed(2);

        let Produto = `<tr>
                        <td>${CodigoProduto.value}</td>
                        <td>${arrayDescricao[0]}</td>
                        <td>${QuantidadeProduto.value}</td>
                        <td>R$ ${parseFloat(arrayDescricao[1]).toFixed(2)}</td>
                        <td>R$ ${parseFloat(ValorTotal).toFixed(2)}</td>
                    </tr>`;

        Itens.Produtos.push({
            "CodigoProduto": CodigoProduto.value,
            "QuantidadeProduto": QuantidadeProduto.value,
            "DescricaoProduto": arrayDescricao[0],
            "PrecoUnitario": parseFloat(arrayDescricao[1]).toFixed(2),
            "ValorTotal": parseFloat(ValorTotal).toFixed(2)
        });

        arrayListaProdutos.innerHTML = JSON.stringify(Itens.Produtos);

        ListaProdutos.innerHTML += Produto;
        valorTotalTexto.innerHTML = valorTotalTexto.innerText * 1 + ValorTotal;

        valorTotalCompra.value = parseFloat(valorTotalTexto.innerText).toFixed(2).replace(".",",");
    }
</script>